In [33]:
# Lists
# order matters
# different data types
# repeats allowed
# indexing starts at 0

L = [1, 2, 3, True, ['a', 'b', 'c'], "Hello", (3, 4)]
len(L)

7

In [34]:
L.append(99)
L

[1, 2, 3, True, ['a', 'b', 'c'], 'Hello', (3, 4), 99]

In [35]:
new_list = L[1:4]
new_list

[2, 3, True]

In [36]:
L

[1, 2, 3, True, ['a', 'b', 'c'], 'Hello', (3, 4), 99]

In [37]:
# operator overloading - concatenating
# this creates new list and doesn't modify L
L + [5, 6, 7]

[1, 2, 3, True, ['a', 'b', 'c'], 'Hello', (3, 4), 99, 5, 6, 7]

In [38]:
# append doesn't return anything
#L.append([5, 6, 7])

In [39]:
# Negative indexing
L[-1] # last element
L[-2] # 2nd to last element

(3, 4)

In [40]:
# more slicing
# 1st 3 elements
L[:3]

[1, 2, 3]

In [41]:
L[3:] # every elt after index 3

[True, ['a', 'b', 'c'], 'Hello', (3, 4), 99]

In [42]:
L[:] # every element

[1, 2, 3, True, ['a', 'b', 'c'], 'Hello', (3, 4), 99]

In [43]:
# Not the right way to copy a list!! :
# shallow copy
M = L

In [44]:
# Correct way to copy a list, leaving the original list unchanged
M = L[:]
M[0] = 21
M

[21, 2, 3, True, ['a', 'b', 'c'], 'Hello', (3, 4), 99]

In [45]:
L

[1, 2, 3, True, ['a', 'b', 'c'], 'Hello', (3, 4), 99]

In [46]:
# list comprehensions
[n ** 2 for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
L = [4, 7, 10]
L_squared = [x ** 2 for x in L if x % 2 == 0]
L_squared

[16, 100]

In [49]:
7 in L

True

In [50]:
8 in L

False

In [54]:
# Dictionaries: keys --> values
# order doesn't matter
# value lookup is by key
# keys must be IMMUTABLE (can't be changed!) AND unique
# values can be mutable objects and they don't have to be unique
# different data types

D = {}
D['a'] = 1
D['b'] = 2
D['z'] = 99
D

{'a': 1, 'b': 2, 'z': 99}

In [55]:
# Tuples
# order matters!
# you can have repeats
# tuples are immutable (okay for keys)

locations = {}
gps = (44, -78)
locations[gps] = "Northeastern"
locations

{(44, -78): 'Northeastern'}

In [56]:
# double assignment
T = (5, 6 ,7)
x, y, z = T
print(x, y, x + y)

5 6 11

In [57]:
def f(x):
    return x ** 2, x ** 3, x ** 4

In [59]:
T = f(2)
T[0]
T[1:] # You can do slicing with tuples

(8, 16)

In [66]:
# Sets
# Sets are collections of keys, dictionaries without values
# values must be unique!
# no order!

S = {1, 2, 3}
D = {1: None, 2: None, 3: None} # sets are dictionaries with no values
type(S)

3 in S # fast operation ("3" is hased to find the location where the value lives)

True

In [70]:
T = {3, 4, 5}
S & T # intersection operation, or use S.intersection(T)
S | T # Union operation, or use S.union(T)

{1, 2, 3, 4, 5}

In [71]:
# elements in S not in T
S - T

{1, 2}

In [72]:
# elements in T not in S
T - S

{4, 5}

In [73]:
#S[0] # can't do this for sets
Z = S | T
Z

{1, 2, 3, 4, 5}

In [74]:
{x for x in Z if x % 2 == 0}

{2, 4}

In [ ]:
2 ^ 10
# 0010 4-bit binary representation of 2
# 1010 4-bit binary representation of 10
# 1000 4-bit binary representation of 8 
# because "^" is x-or operation on python